<section class="content-header">
  <h1>
    Dashboard
    <small>{{ uid$ | async }}</small>
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Toons</h3>
          <div class="box-tools">
            <select class="form-control" [ngModel]="showAlts$ | async" (ngModelChange)="showAlts$.next($event)">
              <option [ngValue]="true">Show Alts</option>
              <option [ngValue]="false">Hide Alts</option>
            </select>
          </div>
        </div>

        <div class="box-body no-padding">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="col-xs-4">Character</th>
                <th class="col-xs-4">Class</th>
                <th class="col-xs-4">Position</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let toon of toons$ | async"
                [routerLink]="'/toons/' + toon.key"
                class="pointer">

                <td>
                  <img class="img-circle" style="height: 25px; width: 25px;" [appToonThumbnail]="toon.thumbnail$ | async">
                  {{ toon.name$ | async }}
                </td>

                <td>
                  {{ toon.level$ | async }}
                  {{ toon.class$ | appClassName | async }}
                </td>

                <td>
                  <div [ngSwitch]="toon.position$ | async">
                    <span *ngSwitchCase="'main'">
                      <i class="fa fa-star"></i> Main
                    </span>                    

                    <span *ngSwitchCase="'alt'">
                      <i class="fa fa-star-o"></i> Alt
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="overlay" *ngIf="!(toons$ | async)">
          <i class="fa fa-refresh fa-spin"></i>
        </div>        
      </div>
    </div>
  </div>      
</section>