<section class="content-header">
  <h1>
    Toon
    <small>{{ toon.name$ | async }}</small>
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-6">
      <app-gear-set title="Best in Slot" [gears]="bis" canEdit="true" (edit)="updateGear(toon, $event)">

      </app-gear-set>
    </div>

    <div class="col-lg-6">
      <app-gear-set title="Current Gear" [gears]="gears" [updateEnabled]="!(toon.gearUpdating$ | async)" [updating]="toon.gearUpdating$ | async" (update)="getGear(toon)">

      </app-gear-set>
    </div>
  </div>
</section>
